<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.athleteplatform.daily-decision-runtime</string>
    <key>ProgramArguments</key>
    <array>
        <string>__PYTHON_PATH__</string>
        <string>-m</string>
        <string>scripts.run_daily_decision_runtime</string>
        <string>--timezone</string>
        <string>__TIMEZONE__</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__WORKING_DIR__</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>__START_HOUR__</integer>
        <key>Minute</key>
        <integer>__START_MINUTE__</integer>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>__LOG_STDOUT__</string>
    <key>StandardErrorPath</key>
    <string>__LOG_STDERR__</string>
</dict>
</plist>
